* {
  box-sizing: border-box;
  color: black;
}

#header-nav {
  background-color: #743419;
  padding-bottom: 30px;
  margin-bottom: 0;
  border: 2px black;
  border-radius: 0;
}

#title{
  color: #0C0C0C;
  font-size: 30px;
  float:left;

}
#chicken {
  background-color: #A88518;
}
#beef{
  background-color: #9E2818;
}
#sushi{
  background-color: #FFD0D0;
}

.menus {
  margin: 30px auto 15px;
  border-radius: 20px;
}
@media (max-width:  767px){
  .menus{
    width: 80%;
  }
}
#menu-title{
  
}
#background{
  background-color: #331412;
}